{% extends 'base.html' %}
{% load static %}

{% block title %}
    Ver preguntas
{% endblock title %}

{% block content %}
{% include "navbar/navbaradmin.html" %}
<div class="container">
  <div class="row">
      <div class="col-12 col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4">
          <div class="card">
              
              <form class="box" method="POST" style="color: rgb(0, 0, 0);">

                    <table class="table table-hover" id="dev-table">

                      <table class="table table-hover" id="dev-table">
                          <thead>
                            <tr>

                              <th> categoria</th>
                              <th>autor</th>
                              <th>Pregunta</th>
                              <th>max_puntaje</th>
                              <th>fecha_creacion</th>
                            
                          </thead>
                          {% for p in preguntas %}
                          <tr>

                            <td>{{p.Selec_categoria}}</td>
                            <td>{{p.autor}}</td>
                            <td>{{p.texto}}</td>
                            <td>{{p.max_puntaje}}</td>
                            <td>{{p.fecha_creacion}}</td>
                            
                          </tr>
                          {% endfor %}
                        </table>
                        <hr><br><br>
                            <a href="{% url 'agregar_pregunta' %}" class="btn  btn-info" ></i>Agregar pregunta</a>
                           <a href="{% url 'HomeAdministrador' %}" class="btn  btn-danger" ></i>ir al   home de administracion</a>
                      </div>
                    </div>
                </div>
            </div>

            {% endblock content %} 