{% extends 'base.html' %}
{% load static %}

{% block title %}
    Ver respuestas
{% endblock title %}

{% block content %}
{% include "navbar/navbaradmin.html" %}
<div class="container">
  <div class="row">
      <div class="col-12 col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4">
          <div class="card">
              
              <form class="box" method="POST" style="color: rgb(0, 0, 0);">

                    <table class="table table-hover" id="dev-table">

                      <table class="table table-hover" id="dev-table">
                          <thead>

                                        <table class="table table-hover" id="dev-table">
                                            <thead>
                                            <tr>

                                                <th>Pregunta</th>
                                                <th>respuestas</th>
                                                <th>correcta?</th>
                                                
                                            </thead>
                                            {% for r in respuesta %}
                                            <tr>

                                            <td> {{r.pregunta}}</td>
                                            <td>{{r.texto}}</td>
                                            <td>{{r.correcta}}</td>
                                            
                                            
                                            </tr>
                                            {% endfor %}
                                        </table>
                                        <hr><br><br>
                                        <a href="{% url 'agregar_respuesta' %}" class="btn  btn-info" ></i>Agregar Respuestas</a>
                                       <a href="{% url 'HomeAdministrador' %}" class="btn  btn-danger" ></i>ir al   home de administracion</a>
                                </div>
                              </div>
                          </div>
                      </div>
          
                      {% endblock content %} 